.sell {
    display: flex;
    flex-direction: column;
}

.sell > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    height: 400px;
}

.row3{
    background-color: #E5E5E5;
}

.row-2{
    display: flex;
}

.row-2 > div{
    background-color: #E5E5E5;
    width: 250px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.row3{
    height: 250px;
}

