h2{
    text-align: left;
    font-size: small;
    color: black;
}

.containerFour_add{
    margin-top: 0px!important;
    width: 100%;
    height: 2000px;
    background-color: white;
}

.form-controlOne_add {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 3px;
     
}

.text1_add{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px !important;
     
}
    
.button4_add{
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    padding: 15px 35px 15px 35px;
    background-color: #d4f2ff;
    box-shadow: 1px 1px #a6a6a6;
    color: black;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.5s ease;
       
}



 

