h2{
    text-align: left;
}

.form {
    background-color: rgba(212, 242, 255, 1);
    padding: 20px;
    border-radius: 25px;
    display: inline-block;
    text-align: left;
    color: rgb(230, 0, 0);
    width: 1054px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    margin: 100px;
}

.form-control {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 50px !important;
}
.button{
    width: 250px;
    border-radius: 50px !important;
    margin-left: 150px;
    
}
.button1{
      width: 250px;
    border-radius: 50px !important;
    margin-left: 150px;
}



label{
    color: rgb(5, 5, 5) !important;
    text-transform: none;
    font-size: 25px;
}

.input-radio {
    display: inline-block;
    
}

#additional{
    height: 100px;
}
