.viewrole-rectangle {
    width: 850px;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #ffffff !important;
  }
.viewrole-topic{
        font-size: 30px;
        text-align: center;
        color: black;
        margin-top: 5px;
        margin-right: 15px;
}
.viewrole-plusicon{
    margin-left: 250px !important;
    font-size: 25px !important;
}
.viewrole-icon{
    color: rgb(0, 0, 0);
}
.viewrole-container{
    padding: 100px;
    padding-top: 10px;
    position:relative;
}
.table{
    width:100%;
    font-size: 15px;
    height: 50px !important;
    border-collapse: separate !important;
    border-spacing: 20px !important;
    border: none;
    border-bottom: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    background-color: #75c6dc;
}
.viewrole-td1{
    text-align:left;
    padding-left: 30px;
    font-size: larger;
    border-radius: 25px;
    background-color: rgb(250, 250, 250);
}
.viewrole-td2{
    width: 100px !important;
    font-size: larger;
    border-radius: 25px;
    background-color: rgb(250, 250, 250);
    padding: 8px;
}
.viewrole-icon {
    color: #000000;
}
.viewrole-icon:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
}