.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,17rem));
    gap: 2rem;
    justify-content: center;
    background-color: rgba(212, 242, 255, 1);
    padding: 30px;
}
.card_product{
    overflow: hidden;
    background-color:rgba(252, 248, 248, 0.493) !important;
    box-shadow: 0 2px 10px  rgba(0, 0, 0, 0.541) !important;
    border-radius: 15px !important;
    cursor: pointer;
}