.head{
    background-color: rgba(212, 242, 255, 1);
}
.wrapper_view_product{
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 21rem));
        gap: 3rem;
        justify-content: center;
        background-color: rgba(212, 242, 255, 1);
        padding: 50px;
    
}

.card_product_view {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.295) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.39) !important;
    border-radius: 15px !important;
    
}

.card_product_view:hover {
    transform: translateY(-2px) scale(1.001) translateZ(0);

}

.card__media_view {
    padding: auto;
}
.icon_button{
    margin-left: 15px !important;
    margin-bottom: 20px !important;
    
}
.icon_button_second {
    margin-left: 75px !important;
    
}
.view_icon_product {
    display: inline-block;
    color: rgb(35, 143, 170);
    

}

.view_icon:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
}

.font_view_product {
    display: inline-block;
    color: black;
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    
}














