h2{
    text-align: left;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 0.25rem;
    display: inline-block;
    text-align: left;
    color: black;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 1300px;
    margin: 100px;
}

.form-control {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-contro {
    width: 101%;
    height: 45px;
    border-radius: 3px;
}

.clue {
    font-size: 14px;
}

label{
    color: black !important;
    text-transform: none;
    font-size: 17px;
}

.input-radio {
    display: inline-block;
}

#additional{
    height: 100px;
}
