h2{
    text-align: left;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 0.25rem;
    display: inline-block;
    text-align: left;
    color: black;
    width: 700px;
}

.form-control {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-contro {
    width: 101%;
    height: 45px;
    border-radius: 3px;
}

.clue {
    font-size: 14px;
}


label{
    color: black !important;
    text-transform: none;
}

