.edituser-rectangle{
    width: 500px;
    height: 100%;
    margin: auto;
    margin-top: -220px;
    border: 2px solid #ffffff !important;
}
.edituser-topic{
    font-size: 30px;
    text-align: center;
    color: black;
    margin-top: 5px;
    margin-right: 15px;
}
.edituser-userName{
    font-size: 18px;
    text-align: left;
    color: black;
    margin-left: 10px;
}
.edituser-userrole{
    font-size: 18px;
    text-align: left;
    color: black;
    margin-left: 10px;
}
.edituser-plusicon{
    margin-left: 20px;
    font-size: 25px !important;
}
.edituser-icon {
    color: rgb(0, 0, 0);
    margin-top: -60px !important;
}
.edituser-btnGrp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edituser-cancelBtn {
    padding: 10px 60px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #75c6dc;
    border-radius: 20px;
    background-color: white;
    color: #75c6dc;
    display: inline-block;
    cursor: pointer;
    margin: 40px;
}
.edituser-cancelBtn:hover {
    background-color: #aee7f5;
  }
.edituser-savebtn {
    padding: 10px 60px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #75c6dc;
    border-radius: 20px;
    background-color: #75c6dc;
    color: White;
    display: inline-block;
    cursor: pointer;
    margin: 40px;
  }
.edituser-savebtn:hover {
    background-color: #aee7f5;
  }

