h2{
    text-align: left;
}
.container7{
     width: 100%;
    height: 1600px;
    background-color: rgba(212, 242, 255, 1);
}
.image4{
     position: absolute;
    left: 250px;
}


.form4 {
      background-color: rgba(255, 255, 255, 0.322);
    padding: 100px;
    border-radius: 25px;
    display: inline-block;
    text-align: left;
    
    width: 1054px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 150%;
    margin: 100px;
}

.form-control1 {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 3px;
}
.text1{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px !important;
}
    
.button3{
    width: 200px;
    border-radius: 50px !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.151), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 80px;
    
}
.button4{
      width: 200px;
    border-radius: 50px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.144), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 300px;
}


