   .h4-cart {
    font-family: Montserrat;
    color: rgb(252, 0, 0);
   }

   .p-cart,.p-cart-q{
    text-align: justify !important;
    margin: top 2px !important;;
    font-size: 1rem;  
    font-weight: normal;
    font-family: Montserrat;
   }
   .p-cart-q{
    color: gray;
    font-family:'Montserrat';
   }

.item-description{
    text-align: left !important;
    margin: 1rem;
    padding: 1rem;
    margin-top: 0.5rem!important;
   
    justify-content: center;
    margin-right: 100px;
    
}

.cart-item {
    
    margin: 1rem;  
    display: flex;
   justify-content: center;
}
.border-cart {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}
 .item-div-image {
    margin:2rem;
    padding: 1rem;
    width: 180px;
    height: 180px;
    margin-left: 120px;
    border-radius: 15px !important;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.39) !important;
    transition: all 0.5s ease;
    display: flex;
    justify-content: left;
       
    } 

.item-div-image:hover{
    color: gray;
    transform: scale(1.015);
}


.icon-button-cart{
   
    cursor: pointer;
    transition: all 0.5s ease;
}
.icon-button-cart:hover {
    color: gray;
    transform: scale(1.1);
}

.btn-increase { 
          
    color: rgb(44, 189, 202);
}
        
    
.btn-decrease,
.btn-trash {   
        
        color: rgb(0, 0, 0) !important;
        
        }
 .item-image {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
     }

.Cart-header{
    font-family: Montserrat;
    font-weight: bold;
    display: flex;
     justify-content: center;
}
.Cart-empty{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: Montserrat;
        font-weight: bold;
       
   
}

.item-description{
    display: flex;
    gap: 100px;
}

.checkout{
    text-align: center;
}