.form-rectangle {
    width: 663px;
    height: 800px;
    margin: auto;
    margin-top: auto;
    border: 2px solid #ffffff !important;
  }
  .topic {
    font-size: 23px;
    text-align: center;
    color: black;
  }
  .profile__img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #75c6dc;
    margin-top: 20px;
    display: block;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  .box1 {
    border: 1px solid #75c6dc;
    border-radius: 50px;
    height: 30px;
    padding: 0 1rem;
    margin: 20px;
  }
  .btnGrp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CancelBtn {
    
    padding: 10px 60px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #75c6dc;
    border-radius: 20px;
    background-color: white;
    color: #75c6dc;
    display: inline-block;
    cursor: pointer;
    margin: 40px;
  }
  .CancelBtn:hover {
    background-color: #aee7f5;
  }
  .Savebtn {
    padding: 10px 60px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #75c6dc;
    border-radius: 20px;
    background-color: #75c6dc;
    color: White;
    display: inline-block;
    cursor: pointer;
    margin: 40px;
  }
  .Savebtn:hover {
    background-color: #aee7f5;
  }