.container2{
    width: 100%;
    height: 800px;
    background-color: rgba(212, 242, 255, 1);
    

}
.container{
    padding: 150px;
    padding-top: 150px;
    position: relative;
    

}
.image1{
    position: absolute;
    left: 5px;
}
.font{
    
    color:rgb(230, 0, 0);
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.521);
    font-size:30px;
}
table{
    width: 100%;
    font-size: larger;
    height: 100px;
    border-collapse: separate !important;
    border-spacing: 20px !important;
   border: none;
   border-bottom: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    background-color: rgba(88, 6, 6, 0.404);
}
td{

    font-size: larger;
    border-radius: 25px;
    background-color: rgb(250, 250, 250);
    padding: 8px;
    
    
   
}
.td0{
    width: 80px !important;
}
.td1{
    text-align:left;
    padding-left: 30px;
}
.td2{
    width: 100px !important;
}
.plusicon{
    margin-left: 1000px;
    font-size: 35px !important;
}

.icon {
    color: rgb(247, 73, 73);

}

.icon:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
}
.icon1 {
    color: rgb(0, 0, 0);

}

.icon1:hover {
    transform: translateY(-2px) scale(1.005) translateZ(0);
}